/* ------------------------------------------------------ */
/* Box */

.box {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.box.inner {
    height: 80px;

    /*  How to center text vertically and horizontally
        Found on StackOverflow: https://stackoverflow.com/a/5703632
    */
    vertical-align: middle;
    line-height: 80px;
}

/* ------------------------------------------------------ */
/* Background */

.background-grey {
    background-color: lightgray;
}

.background-green {
    background-color: green;
}

.background-white {
    background-color: white;
}

/* ------------------------------------------------------ */
/* Border */

.border-dashed {
    border: dashed 2px gray;
}
